.cm-s-idea {font-family: monospace;}	/*customized editor font*/

.cm-s-idea span.cm-tab {border-left: 1px solid #e6e6e6; margin-left: 3px;} /*not works (why?)*/
.cm-s-idea span.cm-meta {color: #808000;} /*@SessionScoped*/
.cm-s-idea span.cm-keyword {line-height: 1em; font-weight: bold; color: #000080} /*public static void*/
.cm-s-idea span.cm-atom {color: #000080;} /*null*/
.cm-s-idea span.cm-number {color: #0000ff;} /*int five = 5 */
.cm-s-idea span.cm-variable {color: black;} /*usual variables*/
.cm-s-idea span.cm-operator {color: black;} /*=*/
.cm-s-idea span.cm-comment {font-style: italic; color: #808080;} /*comments*/
.cm-s-idea span.cm-string {color: #00a000;} /*"String"*/

.cm-s-idea .CodeMirror-activeline-background {background: #ffffd7 !important;} /*activeline*/
.cm-s-idea .CodeMirror-matchingbracket {background: #99ccff; color: black !important;} /*{}*/

.cm-s-idea .CodeMirror-gutters {background: #f0f0f0; border-right: 0px;}
.cm-s-idea .CodeMirror-linenumber {color: #800000;}
.cm-s-idea .CodeMirror-cursor {border-left: 2px solid black !important;}

.cm-s-idea .CodeMirror-selected {background-color: #526da5 !important;}
.cm-s-idea .CodeMirror-selectedtext {color: white !important;}

