.project, .project ul {
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 3px 0 0 7px;
    list-style: none;
    /*border: 1px solid red;*/
}

.project ul {
    display: none;
    margin: 0 0 0 10px;
    border-left: 1px solid #ddd;
}

.project li {
    list-style: none;
    padding: 0 3px 0 0;
}

.project ul.opened {
    display: block;
}

.project a {
    color: #000;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1px 0 1px 28px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 9px;    
}

.project a.folder {background-image: url('images/idea-folder.png')}
.project a.root {background-image: url('images/idea-folder-root.gif'); font-weight: bold}
.project a.sources {background-image: url('images/idea-folder-src.gif')}
.project a.package {background-image: url('images/idea-package.png')}
.project a.runnable {background-image: url('images/idea-class-runnable.png')}
.project a.iml {background-image: url('images/idea-logo.png')}
.project a.lib {background-image: url('images/idea-libs.png'); background-position-y: 1px}
.project a.class {background-image: url('images/idea-class.png')}
.project a.interface {background-image: url('images/idea-class-interface.png')}
.project a.exception {background-image: url('images/idea-class-exception.png')}
.project a.annotation {background-image: url('images/idea-class-annotation.png')}

.project a:before {
    content: '';
    width: 0;
    height: 0;
    border: 0;
    border-top: 3px solid transparent;
    border-left: 4px solid #ccc;
    border-bottom: 3px solid transparent;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0px;
    margin: 0 4px 0 0;
}

.project a.harFull.harOpen:before {
    border:0;
    border-left: 3px solid transparent;
    border-top: 4px solid #555;
    border-right: 3px solid transparent;
    top: 7px;
}

.project a.harFull:before {
    border:0;
    border-top: 3px solid transparent;
    border-left: 4px solid #555;
    border-bottom: 3px solid transparent;
    top: 5px;
}
.project a:hover {
    text-decoration: underline;
}
.project a.cur {
  color: #000
}
.project a.harOpen {
  color: #000
}