/* 
    Document   : style
    Created on : 07.10.2013, 19:25:33
    Author     : Java Fiddle
    Description: Main stylesheet for home page
*/

html, body {
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}

/**
* Header
*/

#header {
    background-color: #fff;
    height: 107px;
    width: 100%;
    /*border: 1px solid red;*/
}

#header-top {
    height: 68px;
    widht: 100%;
    border-bottom: 1px solid #dadada;
}

#header-top #logo {
    width: 155px;
    height: 25px;
    margin: 8px 0 0 8px;
    float: left;
    padding: 0;
    cursor: pointer;
}

#logo .ltgt {
    display: inline;
    width: 32px;
    height: 32px;
}

#logo h2 {
    display: inline;
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-left: 2px;
}

#logo h2 a {
    text-decoration: none;
    color: #388de7;
}

#header-top #projectname {
    height: 20px;
    margin: 10px 0 0 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    color: #333;
    float: left;
}

#header-top #username {
    float: right;
    heigh: 20px;
    margin: 12px 10px 0 0;
}

#header-top #username a {
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;  
}

#header-top #bottom {
    position: absolute;
    margin: 42px 0 0 0;
    padding: 0;
    width: 100%;
}

#header-top #bottom #main_menu {
    margin: 0 0 0 10px;
    height: 20px;
    list-style: none;
    padding: 0;
    float: left;
}

#main_menu li {
    display: inline;
    color: #0e0e0e;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    /*border: 1px solid red;*/
    padding: 6px 4px;
    margin: 0;
    cursor: default;
}

#main_menu li:hover {
    background-color: #eaeaea; 
}

#header-top #bottom #latest_update {
    color: #b3b3b3;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    position: relative;
    float: left;
    margin: 2px 0 0 25px;
}

#header-top #bottom #share {
    margin: -7px 7px 0 0;
    float: right;
    padding: 6px 10px;
    background-color: #4c8ffb;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-indent: 0;
    border: 1px solid #1f6eed;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    width: 140px;
    letter-spacing: 0;
    text-decoration: none;
    text-align: right;
    text-shadow: 1px 1px 0px #1b6df2;
    background-image: url('images/share.ico');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
#share:hover {
    background-color: #4189fc;
}

#header-bottom {
    height: 37px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
    background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
    background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
    background-image: -o-linear-gradient(top,#f5f5f5,#eee);
    background-image: linear-gradient(top,#f5f5f5,#eee);
}

/**
* Content
*/

#content {
    width: 100%;
    background-color: #eee;
    padding: 0;
    margin: 0;
}

#content #treepanel {
    width: 20%;
    float: left;
}

#content #codetext {
    float: right;
}

#codetext #textarea {
    border: none;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
}

#content .mainblock {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    /*box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);*/   
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.15); 
}
