html, body {
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}

body {
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/**
* Header
*/

#header {
    background-color: #fff;
    height: auto;
    width: 100%;
}

#header-top {
    height: 68px;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

#header-top #logo {
    width: 155px;
    height: 25px;
    margin: 8px 0 0 8px;
    float: left;
    padding: 0;
}

#logo .bracket {
    display: inline;
    width: 32px;
    height: 32px;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: inherit;
}

#logo h2 {
    display: inline;
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-left: 2px;
}

#logo h2 a {
    text-decoration: none;
    color: #388de7;
}

#header-top {
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#header-top-left {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;   
}

#header-top #projectname {
    height: 20px;
    margin: 10px 0 0 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    color: #333;
    float: left;
}

#header-top #username {
    height: 20px;
    margin: 12px 10px 0 0;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

#header-top #username a {
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;  
}

#header-top #bottom {
    position: absolute;
    margin: 42px 0 0 0;
    padding: 0;
    width: 100%;
}

/**
* Main menu styles
*/

#header-top #bottom #main_menu {
    margin: -5px 0 0 10px;
    height: 20px;
    list-style: none;
    padding: 0 5px;
    float: left;
    position: relative;
}

#main_menu li {
    color: #0e0e0e;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    cursor: default;
}

#main_menu .dropdown-toggle {
    margin: 0;
    padding: 5px 6px;
}

#main_menu .open {
    background: #eaeaea; 
}

#main_menu .dropdown-menu {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#main_menu li:hover {
    background-color: #eaeaea; 
}

#main_menu li.active {
    background-color: #777;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#main_menu ul li {
    min-width: 160px;
    padding: 4px 10px;
}

#main_menu li .divider {
    padding: 0px;
}

/**
* Main menu style ends
*/

#header-top #bottom #latest_update {
    color: #b3b3b3;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    position: relative;
    float: left;
    margin: 0px 0 0 55px;
}

#header-top #username {
    height: 20px;
    margin: 12px 10px 0 0;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

#header-top #share {
    margin: 0 7px 0 0;
    padding: 0 1px 0 0;
}

#share:hover {
    background-color: #4189fc;
}

#header-bottom {
    height: auto;
    min-height: 37px;
    position: relative;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
    background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
    background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
    background-image: -o-linear-gradient(top,#f5f5f5,#eee);
    background-image: linear-gradient(top,#f5f5f5,#eee);
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#header-bottom #editor_buttons {
    width: 304px;
    height: 18px;
    list-style: none;
    /*border: 1px solid red;*/
    margin: 6px 0 0 15px;
    position: relative;
    float: left;
    padding: 0;
}

#editor_buttons li {
    display: inline;
    margin-right: 5px;
    cursor: default;
    font-size: 18px;
}

#editor_buttons li input {
    width: 18px;
    height: 18px;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: default;
}

#editor_buttons div.separator {
    width: 1px; 
    height: 33px; 
    border-left: 1px solid #ccc; 
    display: inline; 
    position: absolute; 
    margin: -7px 0 0 0;
}

#editor_buttons div#end.separator {
    border-left: 1px solid #333 !important;
    margin-left: 18px;
}

#header-bottom #tabpanel {
    height: auto;
    min-height: 34px;
    list-style: none;
    border-left: 1px solid #999;
    position: relative;
    float: left;
    padding: 0 5px 3px 5px;
    margin: 0;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;    
}

ul#tabpanel li {
    float: left;
    display: inline;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    padding: 3px 0 3px 22px;
    margin-right: 5px !important;
    margin-top: 5px !important;
    background-repeat: no-repeat;
    background-position-x: 5px !important; 
    background-position-y: 4px !important;
    background-position: 3% 50%;
    background-color: #eee;
    cursor: default;
}

ul#tabpanel li div.close {
    width: 10px;
    height: 10px;
    margin: 0 3px 0 3px;
    padding: 0;
    float: right;
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

ul#tabpanel li.active{background-color: #fff !important}
ul#tabpanel li.modified{font-weight: bold !important}
ul#tabpanel li.class{background-image: url('img/idea-class.png')}
ul#tabpanel li.interface{background-image: url('img/idea-class-interface.png')}
ul#tabpanel li.runnable{background-image: url('img/idea-class-runnable.png')}
ul#tabpanel li.exception{background-image: url('img/idea-class-exception.png')}
ul#tabpanel li.enum{background-image: url('img/idea-class-enum.png')}
ul#tabpanel li.annotation{background-image: url('img/idea-class-annotation.png')}
ul#tabpanel li.notfound{font-style: italic; color:#777777; padding-left: 5px;}
ul#tabpanel li.help{background-image: url('img/idea-libs.png')}

/**
* Content
*/

#content {   
    background-color: #eee;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#content #treepanel { 
    margin: 10px -5px 10px 10px;
    width: 270px;
    overflow: auto;
}

#content #rightblock {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#content #codetext {  
    margin: 10px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

#compilation-window {
    margin: -5px 10px 10px 10px;
    height: 140px;
    display: none;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

#compilation-window #stdout {
    overflow: auto;
    height: 100px;
    min-height: 100px;
    padding: 5px;
}

#compilation-window #stdin {
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#stdin #stdin-name {
    height: 27px;
    font-weight: bold;
    padding: 5px;
}

#stdin #stdinput {
    border: 0;
    outline: none;
    height: 27px;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;  
}

#content .mainblock, #tabpanel li {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.15); 
}

/**
* Project tree styles
*/

.project, .project ul {
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 3px 0 0 7px;
    list-style: none;
    /*border: 1px solid red;*/
}

.project ul {
    display: none;
    margin: 0 0 0 10px;
    border-left: 1px solid #ddd;
}

.project li {
    list-style: none;
    padding: 0 3px 0 0;
}

.project ul.opened {
    display: block;
}

.project a {
    color: #000;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1px 0 1px 28px;
    background-repeat: no-repeat;
    background-position-y: 3px !important;
    background-position-x: 9px !important;  
    background-position: 4% 50%;  
}

.project a.folder {background-image: url('img/idea-folder.png')}
.project a.root {background-image: url('img/idea-folder-root.gif'); font-weight: bold}
.project a.sources {background-image: url('img/idea-folder-src.gif')}
.project a.package {background-image: url('img/idea-package.png')}
.project a.runnable {background-image: url('img/idea-class-runnable.png')}
.project a.iml {background-image: url('img/idea-logo.png')}
.project a.lib {background-image: url('img/idea-libs.png'); background-position-y: 1px}
.project a.class {background-image: url('img/idea-class.png')}
.project a.interface {background-image: url('img/idea-class-interface.png')}
.project a.exception {background-image: url('img/idea-class-exception.png')}
.project a.enum {background-image: url('img/idea-class-enum.png')}
.project a.annotation {background-image: url('img/idea-class-annotation.png')}
.project a.help {background-image: url('img/idea-libs.png')}

.project a:before {
    content: '';
    width: 0;
    height: 0;
    border: 0;
    border-top: 3px solid transparent;
    border-left: 4px solid #ccc;
    border-bottom: 3px solid transparent;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0px;
    margin: 0 4px 0 0;
}

.project a.harFull.harOpen:before {
    border:0;
    border-left: 3px solid transparent;
    border-top: 4px solid #555;
    border-right: 3px solid transparent;
    top: 7px;
}

.project a.harFull:before {
    border:0;
    border-top: 3px solid transparent;
    border-left: 4px solid #555;
    border-bottom: 3px solid transparent;
    top: 5px;
}

.project a:hover {
    text-decoration: underline;
}

.project a.cur {
  color: #000
}

.project a.harOpen {
  color: #000
}

/**
*  Popup Window
*/

#opaco {
    background-color: #fff;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#popup {
    position: fixed;
    left:50%;
    top:50%;
    right: 50% !important;
    min-width: 100px;
    min-height: 100px;
    z-index: 11;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #acacac;
    border: 1px solid rgba(0,0,0,.333);
    outline: 0;
}

.hidden {
    display: none !important;
}

#delete_confirm {
    text-align: center;
    color: #0e0e0e;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    padding: 15px;
}

#confirm-buttons {
    width: 270px;
    position: relative;
    margin: 0 auto;
    height: 50px;
    margin-top: 40px;
}

#confirm-buttons div.button {
    width: 120px;
    height: 22px;
    background-color: #eaeaea;
    padding: 12px 0;
    border: 1px solid #acacac;
    border: 1px solid rgba(0,0,0,.111);
    outline: 0;
    cursor: default;
}

#confirm-buttons div.button:hover {
    background-color: #99CCFF;
}

#confirm.button {
    float: left;
}

#decline.button {
    float: right;
}

.popup_window {
    text-align: center;
    color: #0e0e0e;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    padding: 15px;
}

.popup_window .inputname {
    font-size: 18px;
    color: #0e0e0e;
    position: absolute;
    margin: 9px 0 0 23px;
    z-index: 50;
}

.popup_window input {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    position: relative;
    z-index: 20;
    outline: none;
    font-size: 17px;
    color: #ccc;
    height: 40px;
    width: 330px;
    margin: 0 auto;
    padding: 0 10px 0 110px;
    border: 1px solid rgba(0,0,0,.111);
    background-color: #ececec;
}

.popup_window #result-msg {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    min-width: 200px;
    text-align: center;
    padding-top: 4px;
    height: 26px;
    /*display: none;*/
}

.popup_window input:focus {
    color: #0e0e0e;
    border: 1px solid rgba(0,0,0,.222);
}

#addfile .addfileinputs {
    margin-top: 20px;
}

#addfile .addfilename {
    margin-top: 28px;
}

#addfile input {
    width: 348px;
    padding-left: 170px;
    padding-right: 50px;
    color: #bbb;
}

#addfile input#class {
    color: #bbb;
}

#addfile input#class:focus {
    color: #0e0e0e;
}

#addfile #path, #addfile #package, #addfile #project {
    background-color: #FFFFCC;
    cursor: text;
}

#addfile #path:focus, #addfile #package:focus, #addfile #project:focus {
    border: 1px solid rgba(0,0,0,.111);
    color: #bbb;
}

#addfile #filetype {
    height: 40px;
    width: 40px;
    margin-left: 528px;
    margin-top: 1px;
    position: absolute;
    z-index: 50;
    background-color: #ffffff;
    border-left: 1px solid rgba(0,0,0,.111);
}

#addfile ul#typelist {
    z-index: 100 !important;
    display: block;
    margin: 50px 0 0 500px;
}

#addfile #typelist li {
    padding-left: 30px;
    text-align: left;
}

#addfile #typelist li:hover {
    background-color: #eaeaea !important;
}

#addfile #filetype.class {background: url('img/idea-class.png') no-repeat 50% 50%}
#addfile #filetype.interface {background: url('img/idea-class-interface.png') no-repeat 50% 50%}
#addfile #filetype.runnable {background: url('img/idea-class-runnable.png') no-repeat 50% 50%}
#addfile #filetype.annotation {background: url('img/idea-class-annotation.png') no-repeat 50% 50%}
#addfile #filetype.exception {background: url('img/idea-class-exception.png') no-repeat 50% 50%}
#addfile #filetype.enum {background: url('img/idea-class-enum.png') no-repeat 50% 50%}
#addfile #filetype.help {background: url('img/idea-libs.png') no-repeat 50% 50%}

#addfile #typelist li.class {background: url('img/idea-class.png') no-repeat 5% 50%}
#addfile #typelist li.interface {background: url('img/idea-class-interface.png') no-repeat 5% 50%}
#addfile #typelist li.runnable {background: url('img/idea-class-runnable.png') no-repeat 5% 50%}
#addfile #typelist li.annotation {background: url('img/idea-class-annotation.png') no-repeat 5% 50%}
#addfile #typelist li.exception {background: url('img/idea-class-exception.png') no-repeat 5% 50%}
#addfile #typelist li.enum {background: url('img/idea-class-enum.png') no-repeat 5% 50%}
#addfile #typelist li.help {background: url('img/idea-libs.png') no-repeat 5% 50%}

#sharecode input {
    width: 370px;
    padding-left: 70px;
}

#sharecode #confirm-buttons {
    margin: 0 auto;
    margin-top: 4px;
    width: auto;
    text-align: center;
}

#sharecode #confirm {
    margin: 0 0 0 166px;
}

/**
* Context menu
*/

.contextMenu {
    position: absolute !important;
    display : none;
    z-index : 100;
    margin-bottom : 5px;
}

.contextMenu .dropdown-menu {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; 
}

.contextMenu li.active {
    background-color: #777;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.contextMenu li {
    color: #0e0e0e;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    cursor: default;
}

.contextMenu li {
    min-width: 170px;
    padding: 4px 10px;
    cursor: default;
}

.contextMenu li:hover {
    background-color: #eaeaea; 
}

.contextMenu .divider {
    padding: 0px;
}


/**
 * Revisions List
 */

#revisions-list {
    overflow: auto;
    width: 400px;
    height: 280px;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

#revisions-list li {
    width: 320px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    height: 27px;
}

#revisions-list li div.revision-time {
    padding: 5px 10px;
    float: left;
}

#revisions-list li div.revert {
    cursor: default;
    float: right;
    border-left: 1px solid #ccc;
    background-color: #ddd;
    padding: 4px 10px 3px 10px;
}

#revisions-list li div.revert:hover {
    background-color: #99CCFF;
}